.container{
    border: 1px solid black;
    padding: 5px;
    width: 80%;
    margin: auto;
    background-color: bisque;
}
.container div{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    background-color: darkgray;
    border-radius: 5px;
    padding: 10px;
}